<html>
    <title>Elastic network</title>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap/dist/css/bootstrap.css">
    </head>
    <style>
      #cy {
        width: 100%;
        height: 100%;
        left: 30;
        top: 60;
        z-index: 999;
        margin-top: 160px;
      };
      #statistics {
        float: left;
      };
    </style>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/script/cytoscape.min.js"></script>
    <script type="text/javascript" src="static/js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="static/js/graph.js"></script>
    <script type="text/javascript" src="static/js/cytoscape-spread.js"></script>
    <script type="text/javascript" src="static/js/cytoscape-cose-bilkent.js"></script>
    <body>
        <div id="menu">

            <div id="items" style="margin-left: 20px; width: 300px; height: 330px; float: left;">
                <ul class="nav nav-pills nav-stacked">
                  <li role="presentation" style="width: 300px;">
                      <a href="javascript:" onclick="return generateGraph()">Generate contacts tree</a>
                  </li>
                  <li role="presentation" style="width: 300px;">
                      <a href="javascript:" onclick="return simulate(true)">Simulation with profile spreading</a>
                  </li>
                  <li role="presentation" style="width: 300px;">
                      <a href="javascript:" onclick="return simulate(false)">Simulation without profile spreading</a>
                  </li>
                  <li role="presentation" style="width: 300px;">
                      <a href="javascript:" onclick="return clearStats()">Clear log</a>
                  </li>
                </ul>
            </div>

            <div id="graph_menu" style="height: 200px; width: 400px; margin-left: 20px; margin-top: 5px; float: left;">
                <!-- List of all available graphs -->
                {% if graphs %}
                    <ul id="graph_list_container">
                    <strong>You have the following graphs:</strong><br>
                    {% for graph in graphs %}
                        <li id="{{ graph }}" style="margin-left: 10px;">
                            <a href="javascript:" onclick="return loadGraph('{{graph|safe}}')">{{ graph }}</a>
                            <a href="javascript:" onclick="return removeGraph('{{graph|safe}}')"> | X</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <div class="col-lg-4" style="margin-top: 10px;">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="saveGraph()">Save</button>
                        </span>
                        <input id="graph_name" style="width: 320px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>

            <div id='layouts' style="height: 20px; margin-top: 10px;">
                <strong>Layout types:</strong><br>
                <a href="javascript:" onclick="return refreshGraph('spread')">Spread</a><br>
                <a href="javascript:" onclick="return refreshGraph('cose-bilkent')">Cose-bilkent</a><br>
                <a href="javascript:" onclick="return refreshGraph('breadthfirst')">Breadthfirst</a><br>
            </div>

        </div>

        <div id="params" style="margin-top: 312px; height: 450px; width: 450px; margin-left: 35px;">
            <span>Maximum number of hops:</span>
            <input id="max_hops" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=5><br>

            <span>Time limit:</span>
            <input id="time_limit" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" 
            aria-describedby="basic-addon1" value=1000><br>

            <span>Time to live:</span>
            <input id="ttl" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=10><br>
            
            <span>Reply probility:</span>
            <input id="reply_probility" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=1.0><br>
            
            <span>Forwarding probility:</span>
            <input id="forwarding_probility" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=1.0><br>
            
            <span>Average age:</span>
            <input id="average_age" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=25><br>
            
            <span>Standard deviation:</span>
            <input id="standard_deviation" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=0.25><br>
            
            <span>Clasterization factor for sender (Q):</span>
            <input id="clasterization_factor" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=0.8><br>
            
            <span>Time of message transition:</span>
            <input id="transition_time" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=0.4><br>
            
            <span>Time to receiving message:</span>
            <input id="receiving_time" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=0.4><br>
            
            <span>Time step:</span>
            <input id="time_step" style="width: 100px" type="text" class="form-control" placeholder="Contacts tree" aria-describedby="basic-addon1" value=0.1><br>
        </div>

        <div id="main_layout" style="height: 768px; width: 1200px; margin-left: 40px;">
            <div id="cy" style="margin-top: 400px;="></div>
        </div>

<div id="statistics" style="margin-left: 30px;">
  <span>Simulation Log</span><br>
  <span>STARTING DISCRETE TIME SIMULATION</span><br>
  <span>1.9s: Number of replies requested by Eric Griffin is 15</span><br>
  <span>1.9s: Eric Griffin ==> Carrie Bass (requested number of replies: 7)</span><br>
  <span>1.9s: Eric Griffin ==> Katherine Mcdaniel (requested number of replies: 8)</span><br>
  <span>2.4s: Katherine Mcdaniel ==> Samuel Cox (requested number of replies: 4)</span><br>
  <span>2.4s: Katherine Mcdaniel ==> Patty Rodriquez (requested number of replies: 4)</span><br>
  <span>2.4s: Carrie Bass ==> Jeremy White (requested number of replies: 3)</span><br>
  <span>2.4s: Carrie Bass ==> Tanya Mckenzie (requested number of replies: 4)</span><br>
  <span>2.9s: Samuel Cox answers "Matrix"</span><br>
  <span>2.9s: Katherine Mcdaniel <== Samuel Cox (replies 1, aggregated responses 0)</span><br>
  <span>2.9s: Patty Rodriquez answers "Matrix"</span><br>
  <span>2.9s: Katherine Mcdaniel <== Patty Rodriquez (replies 1, aggregated responses 0)</span><br>
  <span>2.9s: Jeremy White answers "Terminator"</span><br>
  <span>2.9s: Carrie Bass <== Jeremy White (replies 1, aggregated responses 0)</span><br>
  <span>2.9s: Tanya Mckenzie answers "Terminator"</span><br>
  <span>2.9s: Carrie Bass <== Tanya Mckenzie (replies 1, aggregated responses 0)</span><br>
  <span>3.4s: Carrie Bass answers "Terminator"</span><br>
  <span>3.4s: Eric Griffin <== Carrie Bass (replies 1, aggregated responses 2)</span><br>
  <span>3.4s: Katherine Mcdaniel answers "Terminator"</span><br>
  <span>3.4s: Eric Griffin <== Katherine Mcdaniel (replies 1, aggregated responses 2)</span><br>
  <span>3.8s: Eric Griffin got replies from his contacts (replies 2, aggregated responses 4)</span><br>
  <span>TOTAL NUMBER OF REPLIES RETRIEVED BY Eric Griffin: 6 FROM 15</span><br>
  <span>DISCRETE TIME SIMULATION HAS BEEN FINISHED</span>
</div>

<div id="votes" style="margin-left: 30px; margin-top: 20px;">
    <span><strong>Total results of questionary:</strong></span><br>
    <span>"Matrix" got: 2 votes</span><br>
    <span>"Terminator": got 4 of votes</span><br>
    <span>"Beautiful mind": got 1 of votes</span><br>
</div>

<div id="user_ages_table" style="margin-top: 30px; margin-left: 30px;">
  <strong>Ages:</strong><br>
</div>

<div id="requested_replies" style="margin-top: 30px; margin-left: 30px;">
  <strong>Replies per request</strong><br>
  <span>Carrie Bass: 1</span><br>
  <span>Eric Griffin: 1</span><br>
  <span>Jeremy White: 1</span><br>
  <span>Katherine Mcdaniel: 1</span><br>
  <span>Patty Rodriquez: 1</span><br>
  <span>Samuel Cox: 1</span><br>
  <span>Tanya Mckenzie: 1</span><br>
</div>

<div id="aggregated_responses_per_reply" style="margin-top: 30px; margin-left: 30px;">
  <strong>Aggregated responses per reply</strong><br>
  <span>Carrie Bass: replies 1, aggregated responses 2<span><br>
  <span>Eric Griffin: replies 2, aggregated responses 4<span><br>
  <span>Jeremy White: replies 1, aggregated responses 0<span><br>
  <span>Katherine Mcdaniel: replies 1, aggregated responses 2<span><br>
  <span>Patty Rodriquez: replies 1, aggregated responses 0<span><br>
  <span>Samuel Cox: replies 1, aggregated responses 0<span><br>
  <span>Tanya Mckenzie: replies 1, aggregated responses 0<span><br>
</div>

<div style="margin-top: 50px; margin-left: 20px;">
  <span style="margin-left: 40px">
    <strong>Values of clusterization factor Q = 0.8:</strong>
  </span><br>
  <img src="https://pp.vk.me/c604324/v604324845/107d8/15OVxYflxiY.jpg" />
  <img src="https://pp.vk.me/c633128/v633128845/2b94a/UJI4j04ER-I.jpg" />
  <img src="https://pp.vk.me/c628830/v628830845/46ed7/Qo_XQqpSzRI.jpg" />
</div>

<div style="margin-top: 80px; margin-left: 20px;">
  <strong>
    <span style="margin-left: 40px;">
      Example which shows the shape of the age distribution with respect to value of clusterization factor
    </span><br>
  </strong>
  <img src="https://pp.vk.me/c633130/v633130845/27d17/5bOqezGJAAk.jpg" />
</div>

  <span style="margin-left: 60px;">
    <strong>The formula of age distribution:</strong>
    <img src="https://pp.vk.me/c633130/v633130845/28338/9d-YvLqLseo.jpg" /><br>
  </span>
  <span style="margin-left: 60px;">
    <strong>The formula for clusterization factor:</strong>
    <img src="https://pp.vk.me/c633130/v633130845/2833f/LgwkoO_ziYc.jpg" /><br>
  </span>

</body>
</html>
